In [2]:
a = 10
b = 20 
print(a+b)

30

In [3]:
num_1 = 80
num_2 = 10

print (num_1 * num_2)

800

In [ ]:
_2num = 100
print("canote use like 2num")  # This will raise a SyntaxError because variable names cannot start with a digit.
_num3 = 100
print(_num3)  # This will print the value of num3, which is 100.

canote use like 2num
100

In [10]:
num = 25
print(num)  # This will print the value of num, which is 25.
print(type(num))  # This will print the type of num, which is <class 'int'>.

25
<class 'int'>

In [11]:
num = 20.5
print(type(num))  # This will print the type of num, which is <class 'float'>.

<class 'float'>

In [12]:
a = 10 + 20j
print(type(a))  # This will print the type of a, which is <class 'complex'>.

<class 'complex'>

In [ ]:
num4 = 2.5e12
print(num4)  # This will print the value of num4, which is 2500000000000.0.

num5 = -6.2e2
print(num5)  # This will print the value of num5, which is -620.0.

2500000000000.0
-620.0
10

In [17]:
x = 7
a = float(x)
print(x , type(x))  # This will print the value of x, which is 7.
print(a ,  type(a))  # This will print the value of a, which is 7.0.

7 <class 'int'>
7.0 <class 'float'>

In [18]:
y  = 20.8
b = int(y)
print(y , type(b))  # This will print the value of y, which is 20.8.
print(b , type(b))  # This will print the value of b, which is 20.

20.8 <class 'int'>
20 <class 'int'>

In [20]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
print(my_list)  # This will print the list: [10, 5, 'jhon ', 6.2, True]
print(type(my_list))  # This will print the type of my_list, which is <class 'list'>.

[10, 5, 'jhon ', 6.2, True]
<class 'list'>

In [ ]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
print(my_list[1])  # This will print the second element in the list, which is 5.
print(type(my_list[1]))  # This will print the type of the second element in the list, which is <class 'int'>.

5
<class 'int'>

In [1]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
print(my_list[-1]) # This will print the last element in the list, which is True.
print(type(my_list[-1]))  # This will print the type of the last element in the list, which is <class 'bool'>.

True
<class 'bool'>

In [27]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
print(my_list[1:4])  # This will print a slice of the list from index 1 to index 2, which is [5, 'jhon '].

[5, 'jhon ', 6.2]

In [28]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
print(my_list[2:])  # This will print a slice of the list from index 2 to the end, which is ['jhon ', 6.2, True].

['jhon ', 6.2, True]

In [29]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
print(my_list[-2:])

[6.2, True]

In [31]:
my_list = [10, 5, 10 , "jhon ", 6.2 , True ]
print(my_list)

[10, 5, 10, 'jhon ', 6.2, True]

In [32]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
my_list[2]= "KAsun"
print(my_list)  # This will print the modified list: [10, 5, 'KAsun', 6.2, True].

[10, 5, 'KAsun', 6.2, True]

In [36]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
my_list[2:5] = ["kate" , 9.4 , False]
print(my_list)

[10, 5, 'kate', 9.4, False]

In [37]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
my_list.append("new item")
print(my_list)  # This will print the list with the new item appended: [10, 5, 'jhon ', 6.2, True, 'new item'].

[10, 5, 'jhon ', 6.2, True, 'new item']

In [38]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
my_list.insert(2, "inserted item")
print(my_list)  # This will print the list with the new item inserted at index 2: [10, 5, 'inserted item', 'jhon ', 6.2, True].

[10, 5, 'inserted item', 'jhon ', 6.2, True]

In [39]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
my_list_1 = [1, 2, 3]
my_list.extend(my_list_1)
print(my_list)  # This will print the list with the elements of my_list_1 appended: [10, 5, 'jhon ', 6.2, True, 1, 2, 3].

[10, 5, 'jhon ', 6.2, True, 1, 2, 3]

In [41]:

my_list = [10, 5 , "jhon ", 6.2 , True ]
my_list.remove("jhon ")
print(my_list)  # This will raise a SyntaxError because the correct method is `remove`, not `remove(`. The correct line should be:

[10, 5, 6.2, True]

In [44]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
my_list.pop(2) # This will raise a SyntaxError because the correct method is `pop()`, not `pop[]`. The correct line should be:
print(my_list)

[10, 5, 6.2, True]

In [ ]:

# Exercise 1
students =  ["Amal" , "Binu" , "Chamara"]
students.append("Dilani")
students.insert(2 , "Eshan")

students.remove("Amal")
students.insert(0, "Farha")
print(students)

['Farha', 'Binu', 'Eshan', 'Chamara', 'Dilani']

In [ ]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
print(len(my_list)) # This will print the length of the list, which is 5.

5

In [50]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
del my_list[2]
print(my_list)  # This will print the list after deleting the element at index 2: [10, 5, 6.2, True].

[10, 5, 6.2, True]

In [51]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
del my_list
print(my_list)  # This will raise a NameError because my_list has been deleted and is no longer defined.

NameError: name 'my_list' is not defined

In [52]:
my_list = [10, 5 , "jhon ", 6.2 , True ]
my_list.clear()
print(my_list)  # This will print an empty list: [].

[]

In [54]:
my_list = ["banana", "apple", "brid", "orange", "kiwi"]
my_list.sort()
print(my_list)  # This will print the sorted list: ['apple', 'banana', 'kiwi', 'orange'].

['apple', 'banana', 'brid', 'kiwi', 'orange']

In [55]:
my_list = ["banana", "apple", "brid", "orange", "kiwi" , "Dog"]
my_list.sort()
print(my_list)  # This will print the sorted list: ['Dog', 'apple', 'banana', 'brid', 'kiwi', 'orange'].

['Dog', 'apple', 'banana', 'brid', 'kiwi', 'orange']

In [56]:
num_list = [10, 5 , 6.2 , 20 , 15]
num_list.sort(reverse=True)
print(num_list)  # This will print the sorted list in descending order: [20, 15, 10, 6.2, 5].

[20, 15, 10, 6.2, 5]

In [ ]:
my_list_1 = [10, 5 , "jhon ", 6.2 , True ]
my_list_2 = my_list_1
my_list_1[2] = 22
print(my_list_1)  # This will print the original list: [10, 5, 'jhon ', 6.2, True].
print(my_list_2)  # This will print the same list as my_list_1: [10, 5, 'jhon ', 6.2, True].

[10, 5, 22, 6.2, True]
[10, 5, 22, 6.2, True]

In [ ]:
my_list_1 = [10, 5 , "jhon ", 6.2 , True ]
my_list_2 = my_list_1.copy()
print(my_list_2)  # This will print a copy of my_list_1: [10, 5, 'jhon ', 6.2, True].

my_list_1[2] = 22
print(my_list_1) # This will print the modified list: [10, 5, 22, 6.2, True].

[10, 5, 'jhon ', 6.2, True]
[10, 5, 22, 6.2, True]

In [61]:
my_list_1 = [10, 5 , "jhon ", 6.2 , True ]
my_list_1.reverse()
print(my_list_1)  # This will print the reversed list: [True, 6.2, 'jhon ', 5, 10].

[True, 6.2, 'jhon ', 5, 10]

In [ ]:
my_list_1 = [10,12,9,4,3]
my_list_2 = [4,6,5]
new_list = my_list_1 + my_list_2 # This will concatenate the two lists.
print(new_list)

[10, 12, 9, 4, 3, 4, 6, 5]