In [22]:
num_1 = 165555555
num_2 = 21114444
num_3 = 33222244444444

if num_1 > num_2 and num_1 > num_3:
    print("lagest num is :" , num_1)
elif num_3 > num_2 :
    print("lagest number is :" , num_3)
else:
    print("lagest number is :",num_2)

lagest number is : 33222244444444

In [ ]:
num_1 = 165555555
num_2 = 21114444
num_3 = 33222244444444

if num_1 > num_2 and num_1 > num_3:
    if num_2 > num_3 :
        print(num_1 , num_2 , num_3)
    else:
        print(num_1 , num_3 ,num_2)

elif num_2 > num_1 and num_2 > num_3 :

    if num_1 > num_3 :
        print(num_2,num_1,num_3)
    else:
        print(num_2,num_3,num_1)
else:
    
    if num_1 > num_2:
        print(num_3 , num_1 ,num_2)
    else:
        print(num_3 , num_2 , num_1)

lagest number is : 21114444
33222244444444 165555555 21114444

In [ ]:
# Ternary operator example

x = 10

result = "even" if x % 2 == 0 else "odd"
print(result)

even

In [45]:
n = -23

absolute_value = n if n >= 0  else -(n)
print("abs :",absolute_value)

abs : 23

In [ ]:
# Structured pattern matching example

x = 10
match x:
    case 1:
        print("one")
    case 2:
        print("two")
    case 3:
        print("three")
    case _:
        print("not one, two or three")

not one, two or three

In [6]:
day = int(input("Enter number"))

match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")
    case _:
        print("Not a day")

Wednesday

In [10]:
color = input("Enter color: ")

match color:
    case "red" | "blinking": # using OR operator
        print("Stop" )
    case "yellow":
        print("Slow Down ")
    case "green":
        print("Go")
    case _:
        print("Invalid colour")

Invalid colour

In [15]:

# List pattern matching example and home work

numbers  = [1, 2]
match numbers:
    case [x , y]:
        print(x * y)
    case [x, y, z]:
        print(x * y + z)
    case _:
        print("List does not match any case")

2

In [ ]:
temperature = [30, 25]

match temperature:
    case [a ,b]:
        print("AVG :",(a + b) / 2)
    case [a ,b ,c ,d]:
        print("Different is : " , (a + b) - (c + d))
    case _:
        print(" Unsupported reading")

AVG : 27.5

In [ ]:
# Loop example to print even numbers from a list

my_list = [12, 5 ,8, 9 , 12]

for item in my_list:
    if item % 2 == 0:
        print(item)

12
8
12

In [28]:
my_list = range(1,11)

for item in my_list:
    print(item ** 2)

1
4
9
16
25
36
49
64
81
100

In [ ]:

for item in range(1,int(input("input nymbers :"))):
   if (item ** 0.5) % 1 == 0:
    print(item)
   else:
     print("........")

1
4
9
16
25
36
49
64
81

In [47]:
n = int(input("input number :"))

if n <= 0 :
    print("enter a positive number")
else:
    for i in range (1 , n):
        squir_value = i ** 2
        if squir_value < n :
            print(squir_value)
        else:
            break

1
4
9
16
25
36
49
64
81

In [ ]:
serach = int(input("Enter number to search: "))
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

found = False

for i in my_list:
    if serach == i :
        print("found number")
        found =True
        break
# if not found :
#         print("not found")
else:
    print("end")
        



# if serach in my_list:
#     print("Found at index:", my_list.index(serach))
# else:
#     print("not found")

not found

In [73]:
my_list = [ -2, -3, -4, -5, -6, -7, -8, -9 , -1]

maximum  = my_list[0]

for i in my_list:
        if x < maximum :
            x = i
            
print(x)

-1

In [ ]:
# List comprehension example to square each item in a list
# for loop in a single line

my_list = [1, 2, 3, 4, 5]

result = [item ** 2 for item in my_list]

print(result)

[1, 4, 9, 16, 25]

In [ ]:

result = [ item ** 2  for item in range(1,11) if item % 2 == 0]
print(result)

[9, 36, 81]

In [84]:


n = int (input("enter number"))

sec_num = 1

if n > 0 :
    while sec_num < n :
       print(sec_num)
       sec_num += 1
else:
    print("insert positive value")

1
2
3
4
5
6
7
8
9

In [91]:
num = int(input("input"))

rev = 0 

while num > 0 :
    digit = num % 10 
    rev = rev * 10 + digit 
    num = num // 10 

print("revers is :" , rev)

revers is : 32232