In [1]:
# function

def add_numbers(a, b):
    """
    Adds two numbers together.

    Parameters:
    a (int or float): The first number.
    b (int or float): The second number.

    Returns:
    int or float: The sum of the two numbers.
    """
    return a + b

# Example usage
print(add_numbers(5, 3))  # Output: 8

8

In [ ]:
def count_even_numbers(my_list):

    even_number_count = 0

    for i in my_list:
        if i % 2 == 0:
            count += 1
    return count

   

list = [12,5,6,2,4,8,9,1]
print(count_even_numbers(list))


   



#    return len([num for num in my_list if num % 2 == 0])

# print(count_even_numbers([1, 2, 3, 4, 5, 6]))

In [3]:
def find_max(list):
 
    max_num = list[0]
    for num in list:
        if num > max_num:
            max_num = num
    return max_num


list = [1,2,3,5,6,7,9,22]

print(find_max(list))

22

In [20]:
# without return set and preserving order

def remove_duplicates(my_list):
    new_set = set()
    list1 = []
    for item in my_list:
        if item not in new_set:
            new_set.add(item)
            list1.append(item)      
    return list1

list = [1, 2, 3, 4, 5, 1, 2, 3, 6 , 9 , 20, 5 ,  8 , 8]

print(remove_duplicates(list))

[1, 2, 3, 4, 5, 6, 9, 20, 8]

In [24]:
def factorial(n):
    result = 1
    if n == 0  :
           print("please inter another number")
           return result

    else:
     for i in range(1, n + 1):
        result *= i
           
    return result
    
   
print(factorial(5))

120

In [ ]:
# position argument and keyword argument
def greet(name, greeting="Hello"):
    """
    Greets a person with a specified greeting.

    Parameters:
    name (str): The name of the person.
    greeting (str): The greeting to use. Defaults to "Hello".

    Returns:
    str: A greeting message.
    """
    return f"{greeting}, {name}!"
# Example usage
print(greet("Alice"))  # Output: Hello, Alice!
print(greet("Bob", "Hi"))  # Output: Hi, Bob!

In [ ]:
# default arguments

def add_numbers(a,b = 8):
    """
    Adds two numbers together, with a default value for b.

    Parameters:
    a (int or float): The first number.
    b (int or float, optional): The second number, default is 8.

    Returns:
    int or float: The sum of the two numbers.
    """
    return a + b
# Example usage with default argument
print(add_numbers(5))  # Output: 13
# Example usage with both arguments
print(add_numbers(5, 3))  # Output: 8

In [26]:
def exponent(base, exp=2):
    result = base ** exp

    return result

print(exponent(3))  
print(exponent(3, 3))

9
27

In [27]:
# Keyword arguments
def disple_numbers(num1, num2, num3):
    """
    Displays three numbers.

    Parameters:
    num1 (int): The first number.
    num2 (int): The second number.
    num3 (int): The third number.
    """
    print(f"Number 1: {num1}, Number 2: {num2}, Number 3: {num3}")
# Example usage with keyword arguments
disple_numbers(num1=10, num2=20, num3=30)
# Example usage with positional arguments
disple_numbers(10, 20, 30)
disple_numbers( num2=20, num3=30 ,num1=10)  # Mixing positional and keyword arguments

Number 1: 10, Number 2: 20, Number 3: 30
Number 1: 10, Number 2: 20, Number 3: 30
Number 1: 10, Number 2: 20, Number 3: 30

In [ ]:
def employee_salary (base_salary , bonus = 0 , tax = 0.1):
    
    total_salary = base_salary + bonus
    total_salary -= total_salary * tax
    return total_salary

print(employee_salary(base_salary = 10000))
print(employee_salary(base_salary = 10000 , bonus = 5000 , tax = 0.14))
print(employee_salary(base_salary = 10000 , tax = 0.13))


print(employee_salary( 10000))
print(employee_salary(10000 ,50000 , 0.14))
print(employee_salary(10000 , 0,0.13))

#mix
print(employee_salary(10000, tax = 0.15))  # Using keyword argument for tax
print(employee_salary(10000, bonus = 2000))  # Using keyword argument for bonus

9000.0
12900.0
8700.0
9000.0
51600.0
8700.0
8500.0
10800.0

In [11]:
# Arbitrary positional arguments
def sum_numbers(*args):
    """
    Sums an arbitrary number of numbers.

    Parameters:
    *args (int or float): The numbers to sum.

    Returns:
    int or float: The sum of the numbers.
    """
    print(type(args))  # This will show that args is a tuple
    for arg in args:
        print(args)
       

        

# Example usage
sum_numbers(1, 2)
print(sum_numbers(1, 2))  # Output: 3
print(sum_numbers(1, 2, 3))  # Output: 6
print(sum_numbers(1, 2, 3, 4, 5))

<class 'tuple'>
(1, 2)
(1, 2)
<class 'tuple'>
(1, 2)
(1, 2)
None
<class 'tuple'>
(1, 2, 3)
(1, 2, 3)
(1, 2, 3)
None
<class 'tuple'>
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
None

In [13]:
def multiply_numbers(*args):

    product = 1
    for num in args:
        product *= num
    return product

print(multiply_numbers(2,4,6,1,7))
print(multiply_numbers())

336
1

In [ ]:
# Arbitrary keyword arguments
def display_info(**kwargs):
    """
    Displays information about a person.

    Parameters:
    **kwargs: Arbitrary keyword arguments representing the person's information.

    Returns:
    str: A formatted string with the person's information.

    Types:
    - kwargs (dict): A dictionary of keyword arguments where keys are attribute names and values are values.
    - Returns (str): A formatted string summarizing the person's information.
    """
    print(type(kwargs))  # This will show that kwargs is a dictionary
    print(kwargs)  # This will print the dictionary of keyword arguments
    
    
    
print(display_info(name="Alice", age=30, city="New York"))




dict = {    "name": "Alice",
    "age": 30,
    "city": "New York"
}
for key in dict.keys():
    print(key)

for value in dict.values():
    print(value)

for key, value in dict.items():
    print("key:", key, "value:", value)

<class 'dict'>
{'name': 'Alice', 'age': 30, 'city': 'New York'}
None
name
age
city
Alice
30
New York
key: name value: Alice
key: age value: 30
key: city value: New York

In [30]:
def display_info(**kwargs):
    print(type(kwargs)) 
    print(kwargs) 
    
    for key,value in kwargs.items():
        print(key , value)
     
    

display_info(name="Alice", age=30, city="New York")

<class 'dict'>
{'name': 'Alice', 'age': 30, 'city': 'New York'}
name Alice
age 30
city New York

In [ ]:

def add_students(**kwargs):
    students = {}
    students.update(kwargs)
    return students

def display_students(students):
    for key , value in students.items():
        print(key ,":", value)


students = add_students(ST01 = "Dlsara",
             ST02 = "Lahiru",
             ST03 = "Shan",
             ST04 = "Kizer",
             ST05 = "Chathura"
)
display_students(students)

ST01 : Dlsara
ST02 : Lahiru
ST03 : Shan
ST04 : Kizer
ST05 : Chathura

In [ ]:
# python built-in functions

print(len([1, 2, 3, 4, 5]))  # Output: 5
print(abs(-5))  # Output: 5
print(max([1, 2, 3, 4, 5]))  #
# Output: 5
print(min([1, 2, 3, 4, 5]))  ## Output: 1
print(sum([1, 2, 3, 4, 5]))  # Output: 15
print(sorted([5, 3, 1, 4, 2]))  # Output: [1, 2, 3, 4, 5]
print(reversed([1, 2, 3, 4, 5]))  # Output: [5, 4, 3, 2, 1]
print(list(reversed([1, 2, 3, 4, 5])))  # Convert reversed object to list
print(tuple([1, 2, 3, 4, 5]))  #

In [2]:

def find_square(x):
    return x ** 2

numbers = [1, 2, 3, 4, 5]

square_value = map(find_square, numbers)

print(type(square_value))
print(list(square_value))

<class 'map'>
[1, 4, 9, 16, 25]

In [ ]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

def get_fahrenheit_values (celsius_values):
    return  list(map(celsius_to_fahrenheit, celsius_values)) 

celsius_values = [0, 20, 37, 100, -10]

print(get_fahrenheit_values(celsius_values))

[32.0, 68.0, 98.6, 212.0, 14.0]

In [1]:
list1 = [1,2,3,4,5,6,7,8,9,10]

def filter_num(number):
    return number %2 == 0

print(list(filter(filter_num,list1)))

[2, 4, 6, 8, 10]

In [3]:
# Lambda function example

add = lambda x, y : x + y

result = add(4,5)

print(result)

(lambda x, y : x + y)(4, 5)  # Output: 9

print((lambda x, y : x + y)(6, 5) )

9
11

In [4]:
list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
double_numbers = list(map(lambda x: x * 2, list_1))
print(double_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
number = [12,18 , 17, 15 , 22, 23 , 16]

even_numbers = list(filter(lambda x: x % 2 == 0, number))

print(even_numbers)

[12, 18, 22, 16]

In [ ]:

print((lambda num_1,num_2 : num_1 if num_1 > num_2 else num_2 )(8,4))

8